[#]: subject: "{{ .Title }}"
[#]: via: "{{ .Link }}"
[#]: author: "{{ .Author.Name }} {{ .Author.Link }}"
[#]: collector: "lkxed"
[#]: translator: " "
[#]: reviewer: " "
[#]: publisher: " "
[#]: url: " "

{{ .Title }}
======
{{ if .Summary -}}
{{ .Summary }}

{{ end -}}
{{ if .Texts -}}
{{ range .Texts -}}
{{ if . -}}
{{ . }}

{{ end -}}
{{ end -}}
{{ end -}}

--------------------------------------------------------------------------------

via: {{ .Link }}

作者：[{{ .Author.Name }}][a]
选题：[lkxed][b]
译者：[译者ID](https://github.com/译者ID)
校对：[校对者ID](https://github.com/校对者ID)

本文由 [LCTT](https://github.com/LCTT/TranslateProject) 原创编译，[Linux中国](https://linux.cn/) 荣誉推出

[a]: {{ .Author.Link }}
[b]: https://github.com/lkxed
{{- if .Urls -}}
{{ range $urlNo, $url := .Urls }}
[{{ add $urlNo +1 }}]: {{ $url -}}
{{ end -}}
{{ end }}
